body {
  margin: 0;
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar {
  background-color: hsl(0, 0%, 10%);
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 15%);
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background-color: hsl(0, 0%, 10%);
}
