body {
  margin: 0;
}

::-webkit-scrollbar {
  background-color: hsl(240, 10%, 15%);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(240, 10%, 10%);
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background-color: hsl(240, 10%, 15%);
}
